<% if responses.any? %>
<h4 id="<%= id %>">Responses</h4>
<table>
<thead>
<tr><th>Status</th><th>Description</th><th>Schema</th></tr>
</thead>
<tbody>
<% responses.each do |key,response| %>
<tr>
<td><%= key %></td>
<td><%= response.description %></td>
<td>
<%= if response.content['application/json']
  get_schema_link(response.content['application/json'].schema)
end %>
</td>
</tr>
<% end %>
</tbody>
</table>
<% end %>
