<% if config[:tech_docs][:phase] %>
<div class="govuk-phase-banner govuk-!-padding-left-3 govuk-!-padding-right-3">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  <%= config[:tech_docs][:phase] %>
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<% end %>
