<ul>
  <% sitemap.resources.each do |resource| %>
    <%if resource.path.end_with?('.html') && resource.data.title %>
      <li<% if active_page(resource.url) %> class="active"<% end %>>
        <%= link_to(resource.data.title, resource.path) %>
        <%= if active_page(resource.url)
          content = resource.render({layout: false})
          table_of_contents(
            content,
            max_level: config[:tech_docs][:max_toc_heading_level]
          )
        end %>
      </li>
    <% end %>
  <% end %>
</ul>
