---
title: Search
index: false
prevent_indexing: true
hide_in_navigation: true
---

<div id="search-help" class="search-help">
  <%# strange id is to avoid clash with search input id #%>
  <h1 id="how-to-search">Search</h1>

  <p class="govuk-body search-help__no-js">
    This page requires JavaScript to perform searches. Please enable JavaScript, or use the search input to search using Google.
  </p>

  <p class="govuk-body">
    Search the documentation using the search input.
  </p>
</div>

<div id="search-results" class="search-results" aria-hidden="true" aria-labelledby="search-results-title">
  <div class="search-results__inner">
    <h2 id="search-results-title" class="search-results__title" aria-live="assertive">Results</h2>
    <div class="search-results__content"></div>
  </div>
</div>
