---
title: GOV.UK Documentation Example
old_paths:
 - /something/old-as-well.html
---

# Hello, World!

## Edit Me!

Open `source/documentation/index.md` in your favourite text editor and start editing!

You can write content in [Markdown](https://daringfireball.net/projects/markdown/) using **all** of the _usual_ syntax that you're used to!

To change the title of the page or include additional files you'll need to edit `source/index.html.md.erb`.

If you want slightly more control, you can always use <strong>HTML</strong>.

For more detail and troubleshooting, take a look at the `README.md` file in the root of this project.

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
          Yes
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label> </div>
    </div>
  </fieldset>
</div>
